<a href="/admin/posts/add">
	<button class="btn btn-primary btn-lg mb-4">New post</button>
</a>

<h2>List of posts:</h2>

{{#each posts}}
<div class="card mt-4">
	
	<div class="card-body">

		<h4>Title: {{title}}</h4>
		<p>Description: {{description}}</p>
		<small>Category: {{category.name}}</small>

	</div>

</div>

{{else}}

<h4 class="mt-5">no registered post</h4>

{{/each}}