<footer class="bg-primary text-white text-center text-lg-start mt-5">

    <div class="container p-2">

        <div class="row">
            <h5 class="text-center text-uppercase">inside your psych</h5>

            <p class="text-center text-uppercase">
                o melhor blog sobre psicologia e filosofia<br>
                criado por: Marco Fontalvo e Gabriel Fini
            </p>
        </div>

    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a href="https://inside-your-psych.herokuapp.com/" class="text-white">inside-your-psych.herokuapp.com</a>
    </div>

</footer>