<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">Inside your psych</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin">admin</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/categories">adminCategories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/posts">adminPosts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/posts">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/admin/posts">Register</a>
				</li>
			</ul>
		</div>
	</div>
</nav>