<div class="jumbotron">
  <h1 class="display-4">Welcome to inside your psych blog!</h1>
  <p class="lead">Neuroscience and psychology news and views.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Register</a>
  </p>
</div>

<hr>

<h2>Recent posts: </h2>