<div class="jumbotron">
  <h1 class="display-4">Inside your psych</h1>
  <p class="lead">Neuroscience and psychology news and views.</p>
</div>

<hr>

<h2>List of posts:</h2>

{{#each posts}}
<div class="card mt-4">

	<div class="card-body">

		<h3>{{title}}</h3>
		<h6>{{description}}</h6>

	</div>

</div>

{{else}}

<h4 class="mt-5">no registered post</h4>

{{/each}}