<h2>List of categories:</h2>

{{#each categories}}
<ul>
	<li><a style="text-decoration: none" href="/categories/{{slug}}">
			<h5 class="mt-4">{{name}}</h5>
		</a></li>
</ul>

{{else}}

{{/each}}