{{#each errors}}
	<div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<h3>Register</h3>

<div class="card">
	<div class="card-body">

		<form action="" method="POST">
			<label for="name">Name: </label>
			<input type="text" name="name" class="form-control">
			<label for="email">Email: </label>
			<input type="email" name="email" class="form-control">
			<label for="password">Password: </label>
			<input type="password" name="password" class="form-control">
			<label for="password2">Repeat your password: </label>
			<input type="password" name="password2" class="form-control">
			<button type="submit" class="btn btn-success mt-4">Register</button>
		</form>

	</div>
</div>