<h3>Login</h3>
<div class="card">
	<div class="card-body">

		<form action="/user/login" method="POST">
			<label for="email">Email: </label>
			<input type="email" class="form-control" name="email" required>
			<label for="password">Password: </label>
			<input type="password" class="form-control" name="password" required>
			<button type="submit" class="btn btn-success mt-4">Login</button>
		</form>

	</div>
</div>